@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Analista @ViewData["Analista"].</p>
<p>Email @ViewData["Email"].</p>

<address>

<strong>More information: </strong><a href="https://www.linkedin.com/in/rodrigo-cavalcante-09286146/">Linkedin - Rodrigo S. Cavalcante</a>

</address>
